@charset "UTF-8";
/* CSS Document */

#menu-image {
    height: 6em;
    margin: -1em 0 0 -1em;
}

h1 {
    color: #ffffff !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif" !important;
    font-size: 6em !important;
    font-weight: bold !important;
    margin: 3em auto 0 !important;
    text-align: center;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    z-index: 100;
}

h3 {
    color: #ffffff !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif" !important;
    font-size: 4em !important;
    font-weight: bold !important;
    margin: 1em auto 0 !important;
    text-align: center;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    z-index: 100;
}

.video-js {
    height: auto;
    max-height: 96em;
    margin: auto;
    position: absolute;
    top: -2em;  
    left: -1em;
    width: auto;
    max-width: 170em;
    z-index: -10;
}

img.apple {
    float: right;
    margin-right: 1em;
    padding-top: 10em;
    width: 10em;
}

img.google {
    float: left;
    margin-left: 1em;
    padding-top:10.25em;
    width: 10em;
}